/* ---------------------
 * author:Bekcpear 
 * email: i@ume.ink
 * -------------------*/

@import 'var.scss';

body#body-login {
  font-family: $font !important;
  background: $mc;
  header {
    #header {
      .logo {
        background-image: none;
        img {
          opacity: 1;
        }
      }
    }
  }
  main {
    form {
      input {
        &#password {
          + label + a.toggle-password {
            width: 16px;
            height: 16px;
            background-image: url(../img/actions/toggle.svg);
            img {
              display: none;
            }
          }
          &[type=text] {
            + label + a.toggle-password {
              background-image: url(../img/actions/toggle-hide.svg);
            }
          }
        }
        &.primary {
          color: #555 !important;
          background-color: #ffffff;
          border: none !important;
          transition: color 200ms cubic-bezier(0.4,0.0,0.2,1), background 200ms cubic-bezier(0.4,0.0,0.2,1),box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1) !important;
          box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149) !important;
          &:hover {
            background-color: #f5f5f5;
            box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149) !important;
          }
        }
      }
      div.icon-confirm-white {
        display: none;
      }
    }
  }
}
