/* ---------------------
 * author:Bekcpear 
 * email: i@ume.ink
 * -------------------*/
nav .menu:after,
div .menu:after,
#settings #expand:before,
.bubble:after,
.app-navigation-entry-menu:after,
.popovermenu:after,
.tooltip div:after,
.tooltip div:before,
.tooltip:after,
.tooltip:before,
.action-item__menu .action-item__menu_arrow {
  display: none !important; }

aside .icon-close {
  background-color: rgba(127, 127, 127, 0.2); }

body#body-user, body#body-settings, body#body-public {
  font-family: Roboto, RobotoDraft, Helvetica, "Helvetica Neue", "Noto Sans Mono CJK SC", "Noto Sans Mono CJK TC", sans-serif !important; }
  body#body-user header#header, body#body-settings header#header, body#body-public header#header {
    background-color: var(--color-main-background);
    background-image: none;
    border-bottom: solid 1px var(--color-background-darker); }
    body#body-user header#header .header-appname, body#body-user header#header .header-shared-by, body#body-settings header#header .header-appname, body#body-settings header#header .header-shared-by, body#body-public header#header .header-appname, body#body-public header#header .header-shared-by {
      color: var(--color-main-text); }
    body#body-user header#header .header-left #nextcloud .logo-icon, body#body-settings header#header .header-left #nextcloud .logo-icon, body#body-public header#header .header-left #nextcloud .logo-icon {
      background-image: url("../img/logo-icon.svg"); }
    body#body-user header#header .header-left #appmenu, body#body-settings header#header .header-left #appmenu, body#body-public header#header .header-left #appmenu {
      filter: invert(1); }
      body#body-user header#header .header-left #appmenu li a::before, body#body-user header#header .header-left #appmenu li a.active::before, body#body-user header#header .header-left #appmenu li a.focus::before, body#body-user header#header .header-left #appmenu li:hover a::before, body#body-user header#header .header-left #appmenu li:hover a.active::before, body#body-user header#header .header-left #appmenu li:hover a.focus::before, body#body-settings header#header .header-left #appmenu li a::before, body#body-settings header#header .header-left #appmenu li a.active::before, body#body-settings header#header .header-left #appmenu li a.focus::before, body#body-settings header#header .header-left #appmenu li:hover a::before, body#body-settings header#header .header-left #appmenu li:hover a.active::before, body#body-settings header#header .header-left #appmenu li:hover a.focus::before, body#body-public header#header .header-left #appmenu li a::before, body#body-public header#header .header-left #appmenu li a.active::before, body#body-public header#header .header-left #appmenu li a.focus::before, body#body-public header#header .header-left #appmenu li:hover a::before, body#body-public header#header .header-left #appmenu li:hover a.active::before, body#body-public header#header .header-left #appmenu li:hover a.focus::before {
        display: none !important; }
      body#body-user header#header .header-left #appmenu li svg, body#body-user header#header .header-left #appmenu li:hover svg, body#body-settings header#header .header-left #appmenu li svg, body#body-settings header#header .header-left #appmenu li:hover svg, body#body-public header#header .header-left #appmenu li svg, body#body-public header#header .header-left #appmenu li:hover svg {
        width: 18px;
        height: 18px; }
      body#body-user header#header .header-left #appmenu li span, body#body-user header#header .header-left #appmenu li:hover span, body#body-settings header#header .header-left #appmenu li span, body#body-settings header#header .header-left #appmenu li:hover span, body#body-public header#header .header-left #appmenu li span, body#body-public header#header .header-left #appmenu li:hover span {
        font-size: small;
        background-color: transparent !important; }
    body#body-user header#header .header-right .searchbox .icon-search-force-white, body#body-settings header#header .header-right .searchbox .icon-search-force-white, body#body-public header#header .header-right .searchbox .icon-search-force-white {
      background-image: var(--icon-search-000);
      background-position-x: 10px; }
    body#body-user header#header .header-right .searchbox input[type='search'], body#body-settings header#header .header-right .searchbox input[type='search'], body#body-public header#header .header-right .searchbox input[type='search'] {
      padding-left: 35px;
      padding-right: 25px; }
      body#body-user header#header .header-right .searchbox input[type='search']:focus, body#body-user header#header .header-right .searchbox input[type='search']:active, body#body-user header#header .header-right .searchbox input[type='search']:valid, body#body-settings header#header .header-right .searchbox input[type='search']:focus, body#body-settings header#header .header-right .searchbox input[type='search']:active, body#body-settings header#header .header-right .searchbox input[type='search']:valid, body#body-public header#header .header-right .searchbox input[type='search']:focus, body#body-public header#header .header-right .searchbox input[type='search']:active, body#body-public header#header .header-right .searchbox input[type='search']:valid {
        color: var(--color-main-text);
        border: none !important;
        box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149) !important; }
    body#body-user header#header .header-right .searchbox .icon-close-white, body#body-settings header#header .header-right .searchbox .icon-close-white, body#body-public header#header .header-right .searchbox .icon-close-white {
      background-image: var(--icon-close-000);
      opacity: 0.7;
      margin-right: 5px; }
    body#body-user header#header .header-right .notifications .notifications-button, body#body-settings header#header .header-right .notifications .notifications-button, body#body-public header#header .header-right .notifications .notifications-button {
      filter: invert(1); }
    body#body-user header#header .header-right #contactsmenu .icon-contacts, body#body-settings header#header .header-right #contactsmenu .icon-contacts, body#body-public header#header .header-right #contactsmenu .icon-contacts {
      background-image: var(--icon-contacts-000); }
    body#body-user header#header .header-right #header-actions-toggle.icon-more-white, body#body-settings header#header .header-right #header-actions-toggle.icon-more-white, body#body-public header#header .header-right #header-actions-toggle.icon-more-white {
      filter: invert(1); }
  body#body-user .button, body#body-settings .button, body#body-public .button {
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1), background 200ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1) !important;
    color: var(--color-main-text) !important;
    background-color: var(--color-main-background) !important;
    border: none !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important; }
    body#body-user .button:hover, body#body-settings .button:hover, body#body-public .button:hover {
      background-color: var(--color-background-hover) !important;
      box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149) !important; }
    body#body-user .button:active, body#body-settings .button:active, body#body-public .button:active {
      background-color: #7986CB !important; }
  @media only screen and (min-width: 1025px) {
    body#body-user #content #app-navigation, body#body-settings #content #app-navigation, body#body-public #content #app-navigation {
      border-right: none;
      width: 320px;
      padding-top: 30px;
      margin-right: 30px; }
      body#body-user #content #app-navigation ul li, body#body-settings #content #app-navigation ul li, body#body-public #content #app-navigation ul li {
        box-shadow: none !important; }
        body#body-user #content #app-navigation ul li a, body#body-settings #content #app-navigation ul li a, body#body-public #content #app-navigation ul li a {
          box-shadow: none !important;
          border-top-right-radius: 22px;
          border-bottom-right-radius: 22px;
          padding-left: 64px;
          background-position-x: 34px;
          opacity: 0.7; }
          body#body-user #content #app-navigation ul li a.active, body#body-settings #content #app-navigation ul li a.active, body#body-public #content #app-navigation ul li a.active {
            background-color: rgba(121, 134, 203, 0.7) !important;
            opacity: 1 !important; }
          body#body-user #content #app-navigation ul li a:hover, body#body-user #content #app-navigation ul li a:focus, body#body-user #content #app-navigation ul li a:active, body#body-settings #content #app-navigation ul li a:hover, body#body-settings #content #app-navigation ul li a:focus, body#body-settings #content #app-navigation ul li a:active, body#body-public #content #app-navigation ul li a:hover, body#body-public #content #app-navigation ul li a:focus, body#body-public #content #app-navigation ul li a:active {
            background-color: rgba(121, 134, 203, 0.5);
            opacity: 0.9; }
        body#body-user #content #app-navigation ul li.active a, body#body-settings #content #app-navigation ul li.active a, body#body-public #content #app-navigation ul li.active a {
          background-color: rgba(121, 134, 203, 0.7) !important;
          opacity: 1 !important; }
        body#body-user #content #app-navigation ul li > ul > li, body#body-settings #content #app-navigation ul li > ul > li, body#body-public #content #app-navigation ul li > ul > li {
          padding-left: 0; }
          body#body-user #content #app-navigation ul li > ul > li a, body#body-settings #content #app-navigation ul li > ul > li a, body#body-public #content #app-navigation ul li > ul > li a {
            padding-left: 104px;
            background-position-x: 74px;
            line-height: 34px;
            min-height: 34px; }
        body#body-user #content #app-navigation ul li#quota a.active, body#body-user #content #app-navigation ul li#quota a:hover, body#body-user #content #app-navigation ul li#quota a:focus, body#body-user #content #app-navigation ul li#quota a:active, body#body-settings #content #app-navigation ul li#quota a.active, body#body-settings #content #app-navigation ul li#quota a:hover, body#body-settings #content #app-navigation ul li#quota a:focus, body#body-settings #content #app-navigation ul li#quota a:active, body#body-public #content #app-navigation ul li#quota a.active, body#body-public #content #app-navigation ul li#quota a:hover, body#body-public #content #app-navigation ul li#quota a:focus, body#body-public #content #app-navigation ul li#quota a:active {
          background-color: transparent !important;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
        body#body-user #content #app-navigation ul li.collapsible:before, body#body-settings #content #app-navigation ul li.collapsible:before, body#body-public #content #app-navigation ul li.collapsible:before {
          width: 30px;
          opacity: 0.6;
          background-color: transparent; }
        body#body-user #content #app-navigation ul li.collapsible:active:before, body#body-user #content #app-navigation ul li.collapsible:focus:before, body#body-user #content #app-navigation ul li.collapsible:hover:before, body#body-settings #content #app-navigation ul li.collapsible:active:before, body#body-settings #content #app-navigation ul li.collapsible:focus:before, body#body-settings #content #app-navigation ul li.collapsible:hover:before, body#body-public #content #app-navigation ul li.collapsible:active:before, body#body-public #content #app-navigation ul li.collapsible:focus:before, body#body-public #content #app-navigation ul li.collapsible:hover:before {
          opacity: 1; }
      body#body-user #content #app-navigation #app-settings #app-settings-header button, body#body-settings #content #app-navigation #app-settings #app-settings-header button, body#body-public #content #app-navigation #app-settings #app-settings-header button {
        box-shadow: none;
        padding-left: 64px;
        background-position-x: 34px; }
        body#body-user #content #app-navigation #app-settings #app-settings-header button:hover, body#body-user #content #app-navigation #app-settings #app-settings-header button:focus, body#body-user #content #app-navigation #app-settings #app-settings-header button:active, body#body-settings #content #app-navigation #app-settings #app-settings-header button:hover, body#body-settings #content #app-navigation #app-settings #app-settings-header button:focus, body#body-settings #content #app-navigation #app-settings #app-settings-header button:active, body#body-public #content #app-navigation #app-settings #app-settings-header button:hover, body#body-public #content #app-navigation #app-settings #app-settings-header button:focus, body#body-public #content #app-navigation #app-settings #app-settings-header button:active {
          background-color: rgba(121, 134, 203, 0.5); }
      body#body-user #content #app-navigation #app-settings #app-settings-content, body#body-settings #content #app-navigation #app-settings #app-settings-content, body#body-public #content #app-navigation #app-settings #app-settings-content {
        padding-left: 30px;
        box-shadow: inset 0 3px var(--color-primary);
        background-color: var(--color-background-hover); }
    body#body-user #content #app-content, body#body-settings #content #app-content, body#body-public #content #app-content {
      margin-left: 350px !important;
      width: calc(100% - 350px) !important; } }
  body#body-user #content #app-content #controls #uploadprogresswrapper, body#body-settings #content #app-content #controls #uploadprogresswrapper, body#body-public #content #app-content #controls #uploadprogresswrapper {
    border: none !important; }
    body#body-user #content #app-content #controls #uploadprogresswrapper #uploadprogressbar, body#body-settings #content #app-content #controls #uploadprogresswrapper #uploadprogressbar, body#body-public #content #app-content #controls #uploadprogresswrapper #uploadprogressbar {
      border: none !important;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;
      display: none; }
    body#body-user #content #app-content #controls #uploadprogresswrapper button, body#body-settings #content #app-content #controls #uploadprogresswrapper button, body#body-public #content #app-content #controls #uploadprogresswrapper button {
      border: none !important;
      transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1) !important;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;
      background-color: var(--color-main-background); }
      body#body-user #content #app-content #controls #uploadprogresswrapper button:hover, body#body-settings #content #app-content #controls #uploadprogresswrapper button:hover, body#body-public #content #app-content #controls #uploadprogresswrapper button:hover {
        background-color: var(--color-background-hover);
        box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149) !important; }
      body#body-user #content #app-content #controls #uploadprogresswrapper button:active, body#body-settings #content #app-content #controls #uploadprogresswrapper button:active, body#body-public #content #app-content #controls #uploadprogresswrapper button:active {
        background-color: #7986CB; }
  body#body-user footer > p + p, body#body-settings footer > p + p, body#body-public footer > p + p {
    display: none; }

body#body-public header#header .header-right #notemenu {
  display: none; }
body#body-public #content #app-content #notemenu {
  display: block; }
  body#body-public #content #app-content #notemenu .menutoggle {
    display: none; }
  body#body-public #content #app-content #notemenu #note-content {
    display: block;
    width: initial;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-background-darker); }
    body#body-public #content #app-content #notemenu #note-content:before {
      content: 'Note:';
      opacity: 0.5;
      font-weight: bold;
      position: relative;
      left: -10px; }
@media only screen and (min-width: 1025px) {
  body#body-public #content #app-content {
    margin-left: 0 !important;
    width: 100% !important; } }

/*# sourceMappingURL=server.css.map */
