// * ---------------------
// * author:Bekcpear 
// * email: i@ume.ink
// * ---------------------

$font: Roboto, RobotoDraft, Helvetica, "Helvetica Neue", "Noto Sans Mono CJK SC", "Noto Sans Mono CJK TC", sans-serif;

$mc: #7986CB; // main color
$bc: var(--color-main-background); // background color
$fc: var(--color-main-text); // forceground color
$lc: var(--color-background-darker); // border color

$logo: '../img/logo.svg';
$icon: '../img/logo-icon.svg';
$close: '../img/actions/close.svg';
$search: '../img/actions/search.svg';

$pl: 64px; //app-navigation padding-left
$bp: 34px; //app-navigation background-position-x